.greenButton {
    display: flex;
    min-height: 44px;
    width: 227px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #377F50;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: Podkova;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;

    &:hover {
        transition: all 0.3s;
        background: rgba(#0b3e1d, 0.8);
    }

    &:active {
        background: rgba(#27673d, 0.8);
    }
}