.coffeeList{
    margin-top: 32px;
    position: relative;
    max-height: 1511px;
    padding-bottom: 8px;
    //min-height: 477px;
    //justify-content: space-between;
    //align-content: space-between;
    //flex-wrap: wrap;
    // *:nth-child(4n) {
    //     margin-right: 0; 
    // }

    // *:nth-child(-n+4) {
    //     margin-top: 0; 
    // }
}