.coffeeListItem {
    position: absolute;
    max-width: 331px;
    max-height: 481px;
    border-radius: 12px;
    border: 2px solid var(--color-light-gray, #F3F3F3);
    overflow: hidden;
    transition: max-height 1s ease;
    z-index: 1;
    background-color: var(--color-white, #FFF);
    // margin-top: 40px;
    // margin-right: 32px;

    //margin: auto; /* автоматический отступ по всем сторонам */
    ///!!!///
    
    //!!!///

    
    &.expanded {
        max-height: 539px;
        transition: max-height 0.3s ease;
        z-index: 2;
        // .inner {
        //     opacity: 1;
        //     transition: opacity 0.3s;
        // }
        &.deleted{
            max-height: 481px;
            transition: max-height 0.3s ease;
        }
    }

    &:hover {

        transition: all 0.3s;
        box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);

    }

    .coffeeListItem_firstHalf {
        border-radius: 12px 12px 0 0;
        max-width: 329px;
        min-height: 237px;
        margin: 0 auto;
        background: url('~@assets/img/menuCoffee/KaramelAmericano.png'), #F3F3F3 50% / cover no-repeat;
        padding: 17px;

        .heart {
            margin-left: auto;
            border-radius: 8px;
            border: 0;
            background: var(--color-white, #FFF);
            display: flex;
            width: 36px;
            height: 36px;
            padding: 6px;
            justify-content: center;
            align-items: center;
            cursor: pointer;


            .heartIcon {
                width: 24px;
                height: 24px;
                background: url('~@assets/icons/heart.svg') center center / cover no-repeat;

                &.active {
                    background: url('~@assets/icons/Heart_active.svg') center center / cover no-repeat;
                }
            }



            &:hover {
                transition: all 0.3s;
                background: #DCDCDC;

                .heartIcon {
                    transition: all 0.3s;
                    filter: brightness(.85);
                }
            }

            &:active {
                background: #C7C7C7;

                .heartIcon {
                    filter: brightness(.77);
                }
            }


        }
    }

    .coffeeListItem_secondHalf {
        padding: 24px;



        .price {
            color: var(--color-black, #191919);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Podkova;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .name {
            margin-top: 8px;
            height: 27px;
            overflow: hidden;
            color: var(--color-black, #191919);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Podkova;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .description {
            margin-top: 4px;
            height: 52px;
            overflow: hidden;
            color: var(--color-dark-gray, #505050);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Podkova;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            -webkit-line-clamp: 2;
            //white-space: nowrap;
            margin: 0;
            /* Убираем внешний отступ */
            -webkit-line-clamp: 2;
            /* Число отображаемых строк */
            display: -webkit-box;
            /* Включаем флексбоксы */
            -webkit-box-orient: vertical;
        }

        .volumeButtonsWrapper {
            margin-top: 16px;
            display: flex;
            //gap: 12px;
            justify-content: space-between;

            .volumeButton {

                color: var(--color-black, #191919);
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Podkova;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                cursor: pointer;
                width: 86px;
                max-height: 51px;
                padding: 16px 0;

                border-radius: 8px;
                border: 0;
                background: #F3F3F3;
                transition: all 0.3s;

                &.active {
                    background: #ffffff;
                    border: 1px solid var(--color-primary-green, #377F50);

                }

                &:hover {

                    background: rgba(#c0bfbf, 0.8);
                }
            }


        }

        .inner {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            opacity: 0;
            animation: ani 0.7s forwards;
            
            //    &.active {
            //         transition: all 2s;
            //         opacity: 1;
            //    }

            &.deleted {
                
                animation: aniDeleted 0.3s forwards;
            }
            
            .basket {
                display: flex;
                padding: 8px;
                width: 44px;
                height: 44px;
                justify-content: center;
                align-items: center;

                border-radius: 8px;

                border: 1.5px solid var(--color-dark-gray, #505050);
                background: var(--color-white, #FFF);

                .basket_icon {
                    width: 24px;
                    height: 24px;
                    background: url('~@assets/icons/basket-black.svg') center center / cover no-repeat;
                }

                &:hover {
                    transition: all 0.3s;
                    background: #DCDCDC;
                }

                &:active {
                    background: #C7C7C7;
                }
            }

            

        }


        @keyframes ani {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes aniDeleted {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }


    }
}